*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
}
header{
    width: 100%;
    height: 10vh;
}
.header2{
    padding-left: 50px
}
nav{
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
nav ul li{
    color: white;
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}